@model IEnumerable<WebApplication1.Models.PlayViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>


<table class="table">
    <tr class="ProductGrid_row">
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.ErrandTitle)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.KeyId" class="amazeBox">
            <td>
                @Html.ActionLink(item.ErrandTitle, "Details", new { id = item.KeyId })
            </td>
        </tr>
    }
</table>